.available{
    width: 100%;
    padding: 20px;
    display: flex;
    margin: 20px 0;
}

.searchresult{
width: 50%;
height: auto;
padding: 20px;

}
.image-box{
    width: 100%;
    gap: 50%;
    display: flex;
}

#map{
    width: 50%;
    height: auto;
    margin-top: 55px;
    border: 2px solid black; 

}


.image-box{
    width: 100%;
    gap: 50%;
    display: flex;
}



@media screen and (max-width: 760px) {
    .available{
   flex-direction: column-reverse;
    }
    


}